.wrapper-list {
  display: flex;
  margin-top: 15px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  height: 600px;
}

.wrapper-list ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.wrapper-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  margin: 5px 60px;
  background: #7159c1;
  max-width: 100%;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.wrapper-list li div button {
  background: transparent;
  border: none;
  margin: 0 3px;
}

.wrapper-list li div input[type="checkbox"] {
  margin: 0 3px;
  width: 45px;
  height: 20px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 4px 2px #aba2eb;
  appearance: none;
  cursor: pointer;
  outline: 0;
}

.wrapper-list li div input[type="checkbox"]:checked {
  background-color: #8a7de3;
  box-shadow: inset 0 0 4px 2px #2e2287;
}

.wrapper-list li div input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7159c1;
  box-shadow: inset 0 0 4px 2px #2e2287;
  border-radius: 50%;
  transform: scale(1.2);
  transition: all 400ms;
}

.wrapper-list li div input[type="checkbox"]:checked::before {
  left: 25px;
}
