div .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
}

div .modal-content {
  position: relative;
  margin: 70px;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  height: 120px;
  background-color: #7159c1;
  justify-content: center;
  align-items: center;
}

.modal-content input {
  width: 350px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  height: 40px;
  outline: 0;
}

.modal-content button {
  margin-left: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
  color: #7159c1;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  opacity: 1;
  transition: filter 0.2s;
}

.modal-content button.close {
  position: absolute;
  top: 5px;
  background: none;
  right: 8px;
  width: inherit;
  padding: 5px;
}

.modal-content button:hover {
  filter: brightness(90%);
}

.modal-content small {
  position: absolute;
  left: 250px;
  bottom: 15px;
  color: white;
  font-weight: bold;
}